.policy {
  p {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }

  ul {
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    > li {
      margin: 10px 0;
      list-style-type: disc;

      &::marker {
        font-size: 12px;
      }
    }
  }

  > h2 {
    scroll-margin-top: 110px;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  > h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 14px;
    margin-top: 30px;
  }

  > h4 {
    margin: 40px 0;
    font-size: 18px;
    font-weight: 700;
  }

  a {
    color: var(--color-accent);
  }

  figure {
    margin: 40px 0;
    padding: 15px;
    background-color: #f5f5f5;
    overflow-x: auto;

    table {
      border: 15px solid #fff;
      background-color: #fff;
      border-collapse: collapse;
      width: 100%;
      display: table;

      thead {
        border-bottom: 0;

        tr {
          border-bottom: 1px solid rgb(0 0 0 / 0.12);

          th {
            padding: 0 0 16px 0;
            border: none;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            border-radius: 2px;
          }
        }
      }

      tbody {
        tr {
          &:not(:last-child) {
            border-bottom: 1px solid rgba(164, 164, 164, 0.3);
          }

          td {
            padding: 16px 16px 16px 0;
            vertical-align: baseline;
            border: none;
            border-radius: 2px;
            display: table-cell;
            text-align: left;
            min-width: 248px;

            &:last-child {
              padding: 16px 0;
              text-align: center;
              vertical-align: baseline;
              min-width: auto;

              &[data-status='positive'] {
                color: #52c41a;
              }

              &[data-status='negative'] {
                color: #ff4d4f;
              }
            }
          }
        }
      }
    }
  }

  .footnote {
    background-color: #f5f5f5;
    padding: 12px 16px;
  }
}

@media (max-width: 1024px) {
  .policy {
    p {
      margin-bottom: 25px;
      font-size: 16px;
    }

    ul {
      margin-bottom: 25px;
      font-size: 16px;

      > li {
        margin: 5px 0;
      }
    }

    > h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }

    > h3 {
      font-size: 20px;
      margin: 25px 0;
    }

    > h4 {
      margin: 20px 0;
      font-size: 16px;
    }

    .footnote {
      background-color: #f5f5f5;
      padding: 12px 16px;
    }
  }
}
